<div class="flex flex-col justify-center gap-5">
  <div>
    <p class="text-sm text-gray-500 mb-1">Admin Dashboard</p>
    <h1 class="text-2xl font-bold mb-4">Category Admin Page</h1>
  </div>
  <div>
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-full border p-4">
      <legend class="fieldset-legend">Settings</legend>
      <div class="flex flex-row justify-between gap-5">
        <div class="join">
          <input type="text" class="input join-item" placeholder="Product name" />
          <button class="btn join-item btn-primary">buscar</button>
        </div>
        <div>
          <button class="btn btn-primary" (click)="openModal()">Agregar</button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
        </tr>
      </thead>
      @if (!productResource.error()) {
        <tbody>
          <!-- row 1 -->
          @for (item of productResource.value()?.data; track $index) {
            <tr>
              <th>1</th>
              <td>{{ item.name }}</td>
            </tr>
            <!-- row 2 -->
          }
        </tbody>
      }
    </table>
  </div>

  @if (productResource.error()) {
    <div class="alert alert-error">
      <span>{{ errorMessage }}</span>
    </div>
  }

  <app-category-modal></app-category-modal>
</div>
