<dialog id="category-modal" class="modal" #categorymodal>
  <div class="modal-box w-full max-w-sm md:max-w-md">
    @if (editingCategory()) {
      <h3 class="text-lg font-bold">Editar Categoría</h3>
      <p class="py-2 text-sm text-gray-600">Modifica los datos de la categoría</p>
    } @else {
      <h3 class="text-lg font-bold">Crear Nueva Categoría</h3>
      <p class="py-2 text-sm text-gray-600">Agrega una nueva categoría a tu tienda</p>
    }

    <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" class="py-4">
      <div class="form-control w-full mb-4 ">
        <label class="label">
          <span class="label-text">Nombre de la Categoría</span>
        </label>
        <div class="w-full h-2">

        </div>
        <input
          type="text"
          placeholder="Ingresa el nombre..."
          class="input input-bordered w-full"
          formControlName="name"
        />
        @if (submitted && categoryForm.get('name')?.invalid) {
          <label class="label">
            <span class="label-text-alt text-error">
              @if (categoryForm.get('name')?.errors?.['required']) {
                Campo requerido
              } @else if (categoryForm.get('name')?.errors?.['minlength']) {
                Mínimo 3 caracteres
              }
            </span>
          </label>
        }
      </div>

      <div class="modal-action">
        <button type="button" class="btn btn-ghost" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
          @if (editingCategory()) {
            Actualizar
          } @else {
            Guardar
          }
        </button>
      </div>
    </form>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button (click)="closeModal()">cerrar</button>
  </form>
</dialog>
